@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
header{
    background-color: rgb(95, 119, 134);
}
footer{
    background-color: rgb(95, 119, 134);
}
body{
    background-color: aliceblue;
}

a {
    text-decoration: none;
    color:black;
}

li{
    text-decoration: none;
    color:black;
}


.form-check{
    background-color: #e3edff;
    padding: 20px 65px;
    margin-top: 7px;
}