
header{
    background-color: rgb(95, 119, 134);
}
footer{
    background-color: rgb(95, 119, 134);
}
body{
    background-color: aliceblue;
}

a {
    text-decoration: none;
    color:black;
}

li{
    text-decoration: none;
    color:black;
}


.form-check{
    background-color: #e3edff;
    padding: 20px 65px;
    margin-top: 7px;
}