{% extends 'base.html.twig' %}

{% block title %}<title>Modifier une categorie</title>{% endblock %}
{# public/images/logo.png #}
 

    <h1>Modifier la categorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}

    

    {{ include('category/_delete_form.html.twig') }}

    <a href="{{ path('category_index') }}">Retourner à la liste</a>
{% endblock %}
