<h1>Votre confirmation de commande</h1>

<p>
    Bonjour ! Vous venez de passer une commande sur notre site et nous vous en remercions <!DOCTYPE html>
    <br>
    Vous recevrez un mail con votre commande sera expedié !

    Au plaisir de vous revoir 


 <h4>L'équipe de la Nimes'Alerie</h4>
    
</p>
