{% extends 'base.html.twig' %}

{% block title %}Edit Carrier{% endblock %}

{% block body %}
    <h1>Edit Carrier</h1>

    {{ include('carrier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('carrier_index') }}">back to list</a>

    {{ include('carrier/_delete_form.html.twig') }}
{% endblock %}
