{% extends 'base.html.twig' %}

{% block title %}New Carrier{% endblock %}

{% block body %}
    <h1>Create new Carrier</h1>

    {{ include('carrier/_form.html.twig') }}

    <a href="{{ path('carrier_index') }}">back to list</a>
{% endblock %}
